OBS_AUTH_USER=replace_me
OBS_AUTH_PASS=replace_me
GRAFANA_ADMIN_USER=replace_me
GRAFANA_ADMIN_PASSWORD=replace_me
OTEL_INGEST_HTPASSWD=replace_with_htpasswd_line
BACKEND_OTEL_EXPORTER_OTLP_HEADERS=Authorization=Basic replace_with_base64
